


*.dylib
*.so
*.dll
*.o


!.gitignore
!src
!libcocoainput
!README.MD
!build_lib_for_mac.sh
!build_lib_for_win.sh
!build_lib_for_x11.sh
!build_lib_all.sh
!build_cocoainput_all_platform.sh
!TODO.txt
!LICENSE

libcocoainput/build

!fabric
!forge


#copied from wynnutil

# Build directories by various build systems
build/
out/
output/
bin/
libs/
classes/
.gradle/
.architectury-transformer/

# Data generated while running Minecraft or tests
run/
.devauth/microsoft_accounts.json
*/logs/*

# IDEs
.idea/
.classpath
.project
.metadata
.vscode
.settings
*.ipr
*.iws
*.iml
*.launch

# macOS junk
.DS_Store

# Files generated during github actions
node_modules
package-lock.json
package.json